@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: (-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -6px);
  }
}

.saved-badge {
  animation: fadeOutUp 1.5s ease forwards;
}
